/*####################################################################################################################*/
/*####################################################################################################################*/
/*##############################################    B   O   D   Y   ##################################################*/
/*####################################################################################################################*/
/*####################################################################################################################*/



html {
    height: 100%;
}

#body-footer{
    min-height: 100%;
    margin: 0;
    padding: 0;
    position:relative;
}


/*####################################################################################################################*/
/*####################################################################################################################*/
/*##########################################   F   O   O   T   E   R   ###############################################*/
/*####################################################################################################################*/
/*####################################################################################################################*/


footer {
    background-color: #264653;
    position:absolute;
    display: flex;
    justify-content: space-around;
    color: white;
    position: absolute;
}

footer p{
    font-size: 120%;
}

#laplateforme{
    height: 55px;
}