/*####################################################################################*/
/*####################################################################################*/
/*###############################     B O D Y       ##################################*/
/*####################################################################################*/
/*####################################################################################*/

/* body{
    margin: 0;
    padding: 0;
} */




/*####################################################################################*/
/*####################################################################################*/
/*###############################     M A I N       ################################*/
/*####################################################################################*/
/*####################################################################################*/

/*#######   PLANNIG.PHP     #######*/

/* main #tableau-planning thead .colonne-planning{
    width: 100%;
    border-right: 1px solid black;
    border-left: 2px solid black;
    font-size: 120%;

}



main #tableau-planning thead {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: 2px solid black;
}

main #tableau-planning tbody tr {
    font-size: 90%;
} */